<a (click)="seeMovie(model.id)" class="movie-link">
  <mat-card class="example-card">
    <img *ngIf="model.poster_path" mat-card-image src="https://image.tmdb.org/t/p/w300/{{model.poster_path}}" [alt]="model.title ? model.title : model.name">
    <img *ngIf="!model.poster_path" mat-card-image src="assets/images/img-placeholder.jpg">
    <mat-card-content>
        <mat-card-title *ngIf="model.title">{{model.title}}</mat-card-title>
        <mat-card-title *ngIf="model.name">{{model.name}}</mat-card-title>
        <p *ngIf="model.release_date">Release: {{ model.release_date | date}}</p>
    </mat-card-content>
  </mat-card>
</a>
