.movie-link {
    display: block;
}

.movie-link:hover {
    cursor: pointer;
    opacity: .5;
}

.mat-card-title {
    font-size: 18px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
