<!-- banner -->
<div class="jumbotron jumbotron-fluid home-banner">
    <h1 class="display-5 app-title">Movie planet</h1>
</div>

<div class="container">

    <!-- in cinema section -->
    <section>
        <header class="header mb-4">
            <div class="header-title">About</div>
        </header>

        <div class="row mb-4">
            <div class="col-sm-12">
                <h3>Movie app</h3>
                <p>Project is inspired by most famous movie website "IMDB" and currently most popular application for movie and tv shows streaming "Netflix". This project is developed for learning and testing purpose of new Angular 9 features. Application is using "The movie database api" - <a href="https://developers.themoviedb.org/3">https://developers.themoviedb.org/3</a> api database for listing all the movies, actors, details, etc.</p>
                <p>Application is made with:</p>
                <div>
                  <ul>
                    <li>Angular CLI 9</li>
                    <li>Angular Material Design 9</li>
                    <li>Bootstrap 4.5</li>
                    <li>FontAwesome 5</li>
                  </ul>
                </div>

                <p>Source code of application is on: <a href="https://github.com/aleksamrakovic/MoviePlanet">https://github.com/aleksamrakovic/MoviePlanet</a>
                </p>
                <p>Feel free to contribute and use it for personal purpose.</p>
                

                
            </div>
        </div>



    </section>
    <!-- in cinema section END -->

</div>