.home-banner {
    text-align: center;
    background: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-title {
    font-weight: bold;
    font-size: 26px;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }