.home-banner {
    background: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-title {
    font-weight: bold;
    font-size: 26px;
}