<!-- banner -->
<div class="jumbotron jumbotron-fluid home-banner">
    <h1 class="display-4">All movies here for you</h1>
</div>

<div class="container">

    <!-- in cinema section -->
    <section>
        <header class="header mb-4">
            <div class="header-title">All movies</div>
        </header>

        <div class="grid-list">
            <div *ngFor="let movie of popular">
                <app-card [model]="movie"></app-card>
            </div>
        </div>

        <mat-paginator [length]="totalPopular" [pageSize]="40" (page)="changePage($event)">
        </mat-paginator>



    </section>
    <!-- in cinema section END -->

</div>

<ngx-spinner></ngx-spinner>