<!-- banner -->
<div class="jumbotron jumbotron-fluid home-banner">
    <h1 class="display-5 app-title">All movies here for you</h1>
</div>

<div class="container">

    <!-- in cinema section -->
    <section>
        <header class="header mb-4">
            <div class="header-title">All movies</div>
        </header>

        <div class="row mb-4">
            <div class="col-sm-12">
                <!-- filters -->
                <mat-chip-list aria-label="Genre selection" [selectable]="true">
                    <mat-chip *ngFor="let genre of genres" #chip="matChip" (click)="chip.select()" (selectionChange)="selectGenre(genre)">{{genre.name}}</mat-chip>
                  </mat-chip-list>
            </div>
        </div>



        <div class="grid-list">
            <div *ngFor="let movie of popular">
                <app-card [model]="movie"></app-card>
            </div>
        </div>

        <mat-paginator [length]="totalPopular" [pageSize]="40" (page)="changePage($event)">
        </mat-paginator>



    </section>
    <!-- in cinema section END -->

</div>

<ngx-spinner></ngx-spinner>