<!-- banner -->
<div class="jumbotron jumbotron-fluid home-banner">
    <h1 class="display-4">All movies here for you</h1>
</div>

<div class="container">

    <!-- in cinema section -->
    <section>
        <header class="header">
            <div class="header-title">All movies</div>
        </header>

        <mat-tab-group>

            <!--Now Playing Movies-->
            <mat-tab label="Most popular movies">
                <div class="grid-list">
                    <div *ngFor="let movie of popular">
                        <app-card [model]="movie"></app-card>
                    </div>
                </div>

                <mat-paginator [length]="totalPopular" [pageSize]="40" (page)="changePage($event)">
                </mat-paginator>
            </mat-tab>

        </mat-tab-group>
    </section>
    <!-- in cinema section END -->

</div>

<ngx-spinner></ngx-spinner>