.home-banner {
    text-align: center;
    background: url('/assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-title {
    font-weight: bold;
    font-size: 26px;
}

.grid-list {
    margin: 10px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 500px) {
    .grid-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 500px) and (max-width:992px) {
    .grid-list {
        grid-template-columns: repeat(2, 1fr);
    }
}